<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothmms;AccountKey=MKDsu8uPkMte8XJZOIpzSFQ+URszpyIB7Y9qTjbmnPEoJ1rV95kfWdQhkAbz3CncpdMNGyu9iXkGLY0dGW2krA==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>